# === 🚀 Git ===
.git/
.gitignore



# === 🧪 Go Test Files ===
*_test.go

# === 💻 IDE & Editor Specific ===
.idea/
.vscode/
*.swp
*.swo

# === 🖥️ OS Specific Files ===
.DS_Store
Thumbs.db

# === 📂 Project Specific (Docs, Scripts, & Misc) ===
README.md
docs/
tests/
scripts/

# === 🐳 Docker Specific ===
Dockerfile
.dockerignore
